.order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
.btn-container button,
.button-container a {
    margin: 0 10px;

}
.order-img{
    max-width: 100%;
    height: auto;
    max-height: 400px;
    width: auto;
    margin-bottom: 20px;
}
.link{
    text-decoration: none;
    margin-top: 8px;
    font-size: 10px;
    /* display: flex;
    justify-content: center; */
}
.button {
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 10px 20px;
    text-decoration: none;
  }