.img-content {
  width: 120px;
  margin-left: 5px;
}

.img-cart {
  width: 120px;
  height: 100px;
}

.text-content {
  margin-left: 20px;
  line-height: 1;
}

.text {
  color: grey;
  font-size: 15px;
  margin-top: 8px;
}

.text-space {
  display: flex;
  justify-content: space-between;
}

.schoppingcart-content {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  gap: 10px;
}

.right {
  justify-content: right;
  text-align: right;
  align-items: end;
}
