.nav-collection{
    margin-left: 5px;
}

.carousel-snap-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px;
}

@media (max-width: 768px){
    .carousel-btn{
        display: none;
    }
    .carousel-snap-container{
        display: none;
    }
}