.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.review-section {
  position: relative;
  display: grid;
  grid-template-columns: 50px 80%;
  gap: 10px;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.star-rating-review {
  position: absolute;
  right: 0;
  top: 0;
}

.date {
  font-size: 0.8;
}
